<div class="fill-parent-height flex-column">

	<!-- contacts header START -->
	<div class="contacts-header">
		<div class="contacts-header-avatar"></div>
		<div class="contacts-header-body">
			<h3>{{user.name}}</h3>
		</div>
		<div>
			<!-- Friend Requests -->
			<button class="btn btn-contacts-header btn-contacts-header-friendrequests"
				ng-click="switchView('friendRequests')">
				<span class="glyphicon glyphicon-user"></span>
			</button>
			<div ng-show="friendRequests.length">
				<span class="badge">{{friendRequests.length}}</span>
			</div>
		</div>
		<div class="btn-group" dropdown>
			<button type="button" class="btn btn-contacts-header btn-contacts-header-options"
				 dropdown-toggle ng-disabled="disabled">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<ul class="dropdown-menu">
				<li>
					<a href="#" ng-click="switchView('addUser')">
						<span class="badge">
							<span class="glyphicon glyphicon-user"></span>
						</span>
						Add Contact 
					</a>
				</li>
				<li>
					<a href="#" ng-click="switchView('createGroup')">
						<span class="badge">
							<span class="glyphicon glyphicon-plus"></span>
						</span>
						Create Group
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- contacts header END -->

	<!-- display a GO BACK button-->
	<div class="contacts-main-go-back"
		ng-click="switchView('contacts')"
		ng-hide="view=='contacts'">
		<h4> <span class="glyphicon glyphicon-menu-left"> </span> </h4>
	</div>


	<!-- Contacts body -->
	<!-- This can display four different views, 
		1. the contacts
		2. add user
		3. Create group 
		4. Friend requests -->

	<div class="contacts-body"  ng-include="viewUrl"></div>
</div>
