<div>
  <p>Or login with your favorite social network:</p>
  <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
    <i class="fa fa-facebook"></i> F
  </a>
  <!-- <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')"> -->
  <a class="btn btn-google-plus" tooltip="g+ Comming soon">
    <i class="fa fa-google-plus"></i> g
  </a>
  <!-- <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')"> -->
  <a class="btn btn-twitter" tooltip="Twitter, Comming soon">
    <i class="fa fa-twitter"></i> T
  </a>
</div>