html, body {
	height: 100%;
}

.wrapper {
	height: 85%;
	/*background-color: #fcc;*/
}

.contacts-main {
	background-color: #afa;
}

.chat-main {
	background-color: #f00; /*If we see bright red, something is wrong*/
	display: flex;
	flex-direction: column;
}
